<table class='table'>
  <thead>
    <tr>
      <th class='score hidden-phone'><%= t :overall_total %></th>
      <th><%= User.model_name.human %></th>
      <th><%= t :finishes %></th>
      <th><%= t :percent_correct %>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |user| %>
      <tr>
        <td class='score hidden-phone'>
          <%= "#{t :currency_symbol} #{user.total}" %>
        </td>
        <td class='email'><%= user.identifier %></td>
        <td class='finishes'>
          <i class='fa fa-trophy gold'></i>
          <span><%= user.first %></span>
          <i class='fa fa-trophy silver'></i>
          <span><%= user.second %></span>
          <i class='fa fa-trophy bronze'></i>
          <span><%= user.third %></span>
        </td>
        <td class='percent'>
          <%= (user.correct_ratio * 100).round(2) %>%
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
