<table class='table'>
  <thead>
    <tr>
      <th class='score hidden-phone'><%= t :overall_total %></th>
      <th><%= User.model_name.human %></th>
      <th><%= t :finishes %></th>
      <th><%= t :percentage_correct %></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td class='score hidden-phone'>
          <%= "#{t :currency_symbol} #{result[:total]}" %>
        </td>
        <td class='email'><%= User.find(result[:user_id]).identifier %></td>
        <td class='finishes'>
          <i class='fa fa-trophy gold'></i>
          <span><%= result[:first] %></span>
          <i class='fa fa-trophy silver'></i>
          <span><%= result[:second] %></span>
          <i class='fa fa-trophy bronze'></i>
          <span><%= result[:third] %></span>
        </td>
        <td class='record'>
          <%= number_to_percentage result.user.percentage_correct_overall, precision: 1 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
