<div class='dropdown-nav pull-right'>
  <span><%= t :weekly_results %>:</span>
  <select>
    <option><%= t :pick_a_week %></option>
    <% Game.order(:ended_at).each do |game| %>
      <%= content_tag :option, l(game.ended_at, format: :long), value: game.id, data: {path: leader_board_path(game)} %>
    <% end %>
  </select>
</div>
<h1><%= t :leader_board %></h1>
<p><%= t '.info' %></p>

<table class='table'>
  <thead>
    <tr>
      <th class='score hidden-phone'><%= t :overall_total %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= t :finishes %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |(_, users)| %>
      <% users.each do |user| %>
        <tr>
          <td class='score hidden-phone'>
            <%= "#{t :currency_symbol} #{user.overall_score}" %>
          </td>
          <td class='email'><%= user.email %></td>
          <td class='finishes'>
            <i class='icon-trophy gold'></i>
            <span><%= user.first %></span>
            <i class='icon-trophy silver'></i>
            <span><%= user.second %></span>
            <i class='icon-trophy bronze'></i>
            <span><%= user.third %></span>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
