<div class='dropdown-nav pull-right'>
  <span><%= t :previous_model, model: Game.model_name.human(count: :many) %>:</span>
  <select>
    <% Game.order(:ended_at).each do |game| %>
      <%= content_tag :option, l(game.ended_at, format: :long), value: game.id, data: {path: leader_board_path(game)}, selected: game.id == @game.id %>
    <% end %>
  </select>
</div>
<h1><%= t :leader_board %></h1>

<table class='table'>
  <thead>
    <tr>
      <th><%= t :overall_total %></th>
      <th><%= User.human_attribute_name(:email) %></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |(_, scores), idx| %>
      <% scores.each do |score| %>
        <tr class="<%= rank_class(idx) %>">
          <td>
            <% if idx == 0 %>
              <%= icon 'trophy' %>
            <% end %>
            <%= "#{t :currency_symbol} #{score[:score]}" %>
          </td>
          <td><%= score[:user].email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
