<%= render 'game_nav', game: @game %>
<h1><%= t :leader_board %></h1>

<table class='table'>
  <thead>
    <tr>
      <th class='score'><%= t :weekly_total %></th>
      <th><%= User.model_name.human %></th>
      <% unless @game.answers.empty? %>
        <th class='hidden-phone'><%= t :breakdown %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <tr class="<%= @game.locked? ? rank_class(result.position): '' %> <%= result.user == current_user ? 'highlight' : '' %>">
      <td class='score'>
        <% if @game.locked? && result.position == 1 %>
          <%= icon 'award' %>
        <% end %>
        <%= "#{t :currency_symbol} #{result.total}" %>
      </td>
      <td class='email'>
        <%= result.user.identifier %>
        <%= render('display_name_hint') if result.user == current_user && result.user.display_name.blank? %>
        </td>
      <% unless @game.answers.empty? %>
        <td class='hidden-phone'>
          <table class='breakdown'>
            <thead>
              <tr>
                <% result.points.each do %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% result.points.each do |point| %>
                  <td>
                    <% if point.status == :unavailable %>
                      <%= breakdown_icon(point.status) %>
                    <% else %>
                      <%= link_to breakdown_icon(point.status), game_answer_path(@game, point.answer) %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t(:overall_results), overall_leader_board_path, class: 'btn btn-default' %>
<%= link_to t(:overall_results_by_money), overall_money_leader_board_path, class: 'btn btn-default' %>
