<div class='dropdown-nav pull-right'>
  <span><%= t :previous_model, model: Game.model_name.human(count: :many) %>:</span>
  <select>
    <% Game.order(:ended_at).each do |game| %>
      <%= content_tag :option, l(game.ended_at, format: :long), value: game.id, data: {path: leader_board_path(game)}, selected: game.id == @game.id %>
    <% end %>
  </select>
</div>
<h1><%= t :leader_board %></h1>

<table class='table'>
  <thead>
    <tr>
      <th class='score'><%= t :weekly_total %></th>
      <th><%= User.model_name.human %></th>
      <% unless @game.answers.empty? %>
        <th class='hidden-phone'><%= t :breakdown %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |(score, users), idx| %>
      <% users.each do |user| %>
        <tr class="<%= rank_class(idx) %>">
          <td class='score'>
            <% if idx == 0 %>
              <%= icon 'trophy' %>
            <% end %>
            <%= "#{t :currency_symbol} #{score}" %>
          </td>
          <td class='email'><%= user.identifier %></td>
          <% unless @game.answers.empty? %>
            <td class='hidden-phone'>
              <table class='breakdown'>
                <thead>
                  <tr>
                    <% @game.date_range.count.times do %>
                      <th></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% @game.date_range.each do |date| %>
                      <td><%= breakdown_icon(@game, user, date) %></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to t(:overall_results), overall_leader_board_path, class: 'btn' %>
