<h2><%= t :your_response %></h2>

<%= simple_form_for [@game, @answer, @question], html: {class: 'form'} do |f| %>
  <%= f.error_notification %>
  <p>
      <div class='answer'><%= render_markdown(@answer.answer) %></div>
  </p>

  <% if @question.errors.messages[:answer_id] %>
    <div class='alert alert-error'>
      <%= t :already_answered %>
    </div>
  <% end %>

  <%= f.input :response, label: false, input_html: {class: 'form-control', autocomplete: 'off', autocorrect: 'off', spellcheck: 'false'} %>
  <%= f.button :submit, value: submit_text, class: 'btn btn-primary' %>
  <%= link_to t(:back), [@game, @answer], class: 'btn pull-right btn-default' %>
<% end %>
