<%= simple_form_for [@game, @answer, @question] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :reponse %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
