<h2><%= t :your_response %></h2>

<%= simple_form_for [@game, @answer, @question] do |f| %>
  <%= f.error_notification %>
  <p>
    <%= @answer.answer %>
  </p>

  <div class="form-inputs">
    <%= f.input :response, label: false, input_html: {class: 'input-xxlarge'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: submit_text, class: 'btn btn-primary' %>

    <div class='pull-right'>
      <%= link_to t(:back), [@game, @answer], class: 'btn' %>
    </div>
  </div>
<% end %>
