<h1><%= Question.model_name.human(count: :many) %></h1>

<% unless @questions.empty? %>
  <p><strong><%= Answer.human_attribute_name(:answer) %>:</strong> <%= @answer.answer %></p>
  <p><strong><%= Answer.human_attribute_name(:correct_question) %>:</strong> <%= @answer.correct_question %></p>

  <table class="table">
    <thead>
      <tr>
        <th><%= Question.human_attribute_name("user") %></th>
        <th><%= Question.human_attribute_name("response") %></th>
        <% if @answer.final? %>
          <th class='hidden=phone'><%= Question.human_attribute_name("amount") %></th>
        <% end %>
        <th class='hidden-phone'></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr class='<%= question.checked? ? (question.correct? ? 'success' : 'danger') : '' %>'>
          <td class='email'><%= question.user.identifier %></td>
          <td><%= question.response %></td>
          <% if @answer.final? %>
            <td class='hidden-phone'><%= number_to_currency question.amount %></td>
          <% end %>
          <td class='hidden-phone'>
            <% if can? :check, question.answer %>
              <span class='btn-group pull-right actions <%= question.checked? ? 'hide' : 'show' %>'>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-success', data: {correct: true} do %>
                  <%= icon 'thumbs-up' %>
                <% end %>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-danger', data: {correct: false} do %>
                  <%= icon 'thumbs-down' %>
                <% end %>
              </span>
              <span class='pull-right checked  <%= question.checked? ? 'show' : 'hide' %>'>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-info', data: {correct: 'null'} do %>
                  <%= icon 'ccw' %>
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t(:back), [@game, @answer], class: 'btn btn-default' %>
