<h1><%= t(:index_model, model: Question.model_name.human) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Question.human_attribute_name("user") %></th>
      <th><%= Question.human_attribute_name("answer") %></th>
      <th><%= Question.human_attribute_name("response") %></th>
      <th><%= Question.human_attribute_name("correct") %></th>
      <th><%= Question.human_attribute_name("amount") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user.email %></td>
        <td><%= question.answer.answer %></td>
        <td><%= (question.answer.closed? || question.user == current_user) ? question.response : t(:response_hidden) %></td>
        <td><%= question.correct %></td>
        <td><%= question.amount %></td>
        <td>
          <%= link_to t(:show), [@game, @answer, question], class: 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if question = @answer.question_for(current_user) %>
  <%= link_to t(:edit_model, model: Question.model_name.human), [:edit, @game, @answer, question], class: 'btn' %>
<% else %>
  <%= link_to t(:new_model, model: Question.model_name.human), new_game_answer_question_path, class: 'btn' %>
<% end %>
