<h1><%= Question.model_name.human(count: :many) %></h1>

<% unless @questions.empty? %>
  <p><strong><%= Answer.human_attribute_name(:answer) %>:</strong> <%= @answer.answer %></p>
  <p><strong><%= Answer.human_attribute_name(:correct_question) %>:</strong> <%= @answer.correct_question %></p>

  <table class="table">
    <thead>
      <tr>
        <th><%= Question.human_attribute_name("user") %></th>
        <th><%= Question.human_attribute_name("response") %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr class='<%= question.checked? ? (question.correct? ? 'success' : 'error') : '' %>'>
          <td><%= question.user.email %></td>
          <td><%= question.response %></td>
          <td>
            <% if can? :check, question %>
              <span class='btn-group pull-right actions <%= question.checked? ? 'hide' : 'show' %>'>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-success', data: {correct: true} do %>
                  <%= icon 'thumbs-up' %>
                <% end %>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-danger', data: {correct: false} do %>
                  <%= icon 'thumbs-down' %>
                <% end %>
              </span>
              <span class='pull-right checked  <%= question.checked? ? 'show' : 'hide' %>'>
                <%= link_to [@game, @answer, question], class: 'btn btn-small btn-info', data: {correct: nil} do %>
                  <%= icon 'undo' %>
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t(:back), [@game, @answer], class: 'btn' %>
