<%= simple_form_for [@game, @answer] do |f| %>
  <%= f.error_notification %>

  <%= f.collection_select :category_name, Category.all, :name, :name %>

  <%= f.input :correct_question, input_html: {rows: 5} %>
  <%= f.input :answer, input_html: {rows: 5} %>

  <%= f.input :amount do %>
    <div class='input-group'>
      <span class='input-group-addon'><%= t(:currency_symbol) %></span>
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.input :start_date do %>
    <div class='input-group'>
      <span class='input-group-addon'><%= icon 'calendar' %></span>
      <%= f.text_field :start_date, class: 'form-control datepicker' %>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
