<%= simple_form_for [@game, @answer] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category, input_html: {class: 'input-xlarge'} %>
    <%= f.input :correct_question, input_html: {class: 'input-block-level', rows: 5} %>
    <%= f.input :answer, input_html: {class: 'input-block-level', rows: 5} %>

    <%= f.input :amount do %>
      <div class='input-prepend'>
        <span class='add-on'><%= t(:currency_symbol) %></span>
        <%= f.text_field :amount %>
      </div>
    <% end %>
    <%= f.input :start_date do %>
      <div class='input-prepend'>
        <span class='add-on'><%= icon 'calendar' %></span>
        <%= f.text_field :start_date, value: d(f.object.start_date), class: 'datepicker' %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
