<h1><%= t :checking_model, model: Question.model_name.human(count: :many) %></h1>

<p><strong><%= Answer.human_attribute_name(:answer) %>:</strong> <%= @answer.answer %></p>
<p><strong><%= Answer.human_attribute_name(:correct_question) %>:</strong> <%= @answer.correct_question %></p>

<% if @questions.empty? %>
  <p><%= t :nothing_to_check %></p>
<% else %>
  <%= simple_form_for @answer, url: update_all_game_answer_path do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th><%= Question.human_attribute_name("reponse") %></th>
          <th><%= Question.human_attribute_name("correct") %></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.reponse %></td>
            <td><%= check_box_tag "answer[questions[#{question.id}]]", 'yes' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to t(:back), [@game, @answer], class: 'btn' %>
    </div>
  <% end %>
<% end %>
