<h1><%= Answer.model_name.human(count: :many) %></h1>

<% if @game.started_on %>
  <h4><%= t :week_starting %> <%= l @game.started_on, format: :long %></h4>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class='badge-column'></th>
      <th><%= t :day %></th>
      <th><%= Answer.human_attribute_name("answer") %></th>
      <th><%= Answer.human_attribute_name("amount") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td class='badge-column'>
          <% if can? :check, answer %>
            <% unchecked_questions = answer.questions.unchecked.count %>
            <% if unchecked_questions > 0 %>
              <%= link_to [@game, answer, :questions], class: 'badge badge-danger' do %>
                <%= unchecked_questions %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= answer.start_date.strftime('%a') %></td>
        <td>
          <p><strong><%= answer.category.try(:name) %></strong></p>
          <p><%= answer.answer %></p>
        </td>
        <td><%= number_to_currency answer.amount, precision: 0, unit: t(:currency_symbol) %></td>
        <td>
          <div class='btn-group'>
            <%= link_to [@game, answer], class: 'btn btn-small' do %>
              <%= icon 'eye-open' %>
            <% end %>
            <%= link_to [:edit, @game, answer], class: 'btn btn-small' do %>
              <%= icon 'pencil' %>
            <% end %>
            <%= link_to [@game, answer], method: :delete, class: 'btn btn-danger btn-small', data: {confirm: t(:confirm_destroy)} do %>
              <%= icon 'trash' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:new_model, model: Answer.model_name.human), [:new, @game, :answer], class: 'btn' %>
