<%= render 'nav' %>
<h1 class='answer-date'><%= @answer.start_date %></h1>

<div class='question-container row'>
  <div class='col-md-4'>
    <div class="area">
      <div class='category'><p><%= @answer.category.name %></p></div>
    </div>
    <% if @answer.amount %>
      <div class="area">
        <div class='dollar-value'><p>$<%= @answer.amount %></p></div>
      </div>
    <% end %>
  </div>
  <div class='col-md-8'>
    <div class='area-answer'>
      <div class='answer'><%= render_markdown(@answer.answer) %></div>
    </div>
  </div>
</div>

<div class='question-actions'>
  <% question = @answer.question_for(current_user) %>

  <% if !question %>
    <%= link_to "Your Response", [:new, @game, @answer, :question], class: 'btn btn-primary' %>
  <% elsif !question.checked? %>
    <%= link_to "Your Response", [:edit, @game, @answer, question], class: 'btn btn-primary' %>
  <% end %>

  <% if @answer.closed? %>
    <% if can?(:check, @answer) %>
      <%= link_to t(:check_model, model: Question.model_name.human(count: :many)), [@game, @answer, Question], class: 'btn btn-info' %>
    <% elsif question && question.checked? %>
      <%= link_to t(:see_model, model: Question.model_name.human(count: :many)), [@game, @answer, Question], class: 'btn btn-info' %>
    <% end %>
  <% end %>
  <div class='pull-right'>
    <%= link_to t(:edit), [:edit, @game, @answer], class: 'btn btn-default' if can?(:edit, @answer) %>
  </div>
</div>
