<%= render :partial => 'nav' %>
<h1 class='answer-date'><%= @answer.start_date %></h1>

<div class='question-container row'>
  <div class='span4'>
    <div class="area">
      <div class='category'><p><%= @answer.category.name %></p></div>
    </div>
    <% if @answer.amount %>
      <div class="area">
        <div class='dollar-value'><p>$<%= @answer.amount %></p></div>
      </div>
    <% end %>
  </div>
  <div class='span8'>
    <div class='area-answer'>
      <div class='answer'><%= raw Redcarpet::Markdown.new(Redcarpet::Render::HTML.new).render(@answer.answer) %></div>
    </div>
  </div>
</div>

<div class='well'>
  <% action = :new; question = :question %>
  <% if @answer.question_for(current_user) %>
    <% action = :edit %>
    <% question = @answer.question_for(current_user) %>
  <% end %>
  <% if question.is_a?(Symbol) || !question.checked? %>
    <%= link_to "Your Response", [action, @game, @answer, question], class: 'btn btn-primary' %>
  <% end %>

  <% if @answer.closed? %>
    <% if can?(:check, @answer) %>
      <%= link_to t(:check_model, model: Question.model_name.human(count: :many)), [@game, @answer, Question], class: 'btn btn-info' %>
    <% elsif !question.is_a?(Symbol) && question.checked? %>
      <%= link_to t(:see_model, model: Question.model_name.human(count: :many)), [@game, @answer, Question], class: 'btn btn-info' %>
    <% end %>
  <% end %>
  <div class='pull-right'>
    <%= link_to t(:edit), [:edit, @game, @answer], class: 'btn' if can?(:edit, @answer) %>
    <%= link_to t(:back), [@game, :answers], class: 'btn' %>
  </div>
</div>
