<%= render 'nav' %>
<h1 class='answer-date'><%= @answer.start_date %></h1>

<div class='question-container row'>
  <div class='col-md-4'>
    <div class="area">
      <div class='category'><p><%= @answer.category.name %></p></div>
    </div>
    <div class="area">
      <div class='dollar-value'><p>$<%= @answer.amount || @question.amount %></p></div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='area-answer'>
      <div class='answer'><%= render_markdown(@answer.answer) %></div>
    </div>
  </div>
</div>

<%= render 'question_actions' %>
<%= render 'edit_link' %>
