<%= render 'nav' %>
<h1 class='answer-date'><%= @answer.start_date %></h1>

<div class='question-container row'>
  <div class='col-md-4'>
    <div class="area">
      <div class='category'><p><%= @answer.category.name %></p></div>
    </div>
    <% if @answer.amount %>
      <div class="area">
        <div class='dollar-value'><p>$<%= @answer.amount %></p></div>
      </div>
    <% end %>
  </div>
  <div class='col-md-8'>
    <div class='area-answer'>
      <div class='answer'><%= render_markdown(@answer.answer) %></div>
    </div>
  </div>
</div>

<div class='form-group question-actions'>
  <% question = @answer.question_for(current_user) %>

  <% if !question %>
    <%= link_to "What is ...", [:new, @game, @answer, :question], class: 'btn btn-primary btn-lg btn-block' %>
  <% elsif !question.checked? %>
    <%= link_to "Your Response", [:edit, @game, @answer, question], class: 'btn btn-primary btn-lg btn-block' %>
  <% elsif @answer.closed? %>
    <%= link_to "View Responses", [@game, @answer, Question], class: 'btn btn-primary btn-lg btn-block' %>
  <% end %>
</div>

<%= render 'edit_link' %>
