<div style='float: right'>
  <%= link_to 'Prev', [@answer.prev.game, @answer.prev], class: 'btn' if @answer.prev %>
  <%= link_to 'Next', [@answer.next.game, @answer.next], class: 'btn' if @answer.next %>
</div>

<h1><%= @answer.start_date.to_date %></h1>

<div class='question-container'>
  <div class='answer'><%= @answer.answer %></div>
  <div class='category'><%= @answer.category.name %></div>
  <div class='dollar-value'>$<%= @answer.amount %></div>
  <div style='clear: both;'></div>
</div>

<% action = :new; question = :question %>
<% if @answer.question_for(current_user) %>
  <% action = :edit %>
  <% question = @answer.question_for(current_user) %>
<% end %>
<%= link_to "Your Response", [action, @game, @answer, question], class: 'btn btn-primary' %>

<% if @answer.questions.unchecked.count > 0 && can?(:check, @answer) %>
  <%= link_to t(:check_model, model: Question.model_name.human(count: :many)), check_game_answer_path, class: 'btn btn-info' %>
<% end %>
<%= link_to t(:edit), [:edit, @game, @answer], class: 'btn' if can?(:edit, @answer) %>
<%= link_to t(:back), [@game, :answers], class: 'btn' %>
