<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ended_at do %>
      <div class='input-prepend'>
        <span class='add-on'><%= icon 'calendar' %></span>
        <%= f.text_field :ended_at, value: d(f.object.ended_at), class: 'datepicker' %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
