<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <%= f.input :ended_at do %>
    <div class='input-group'>
      <span class='input-group-addon'><%= icon 'calendar' %></span>
      <%= f.text_field :ended_at, value: d(f.object.ended_at), class: 'weekpicker form-control' %>
      <div id="weekpicker-wrapper" class="weekpicker-wrapper"></div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
