<h1><%= t(:index_model, model: Game.model_name.human) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Game.human_attribute_name("ended_at") %></th>
      <th class='span3'></th>
      <th class='span2'></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr class='<%= game.locked? ? 'info' : '' %>'>
        <td><%= l game.ended_at, format: :long %></td>
        <td>
          <%= link_to Answer.model_name.human(count: :many), game_answers_path(game), class: 'btn btn-small' %>
          <div class='btn-group'>
            <%= link_to game, class: 'btn btn-small' do %>
              <%= icon 'eye' %>
            <% end %>
            <%= link_to [:edit, game], class: 'btn btn-small' do %>
              <%= icon 'pencil' %>
            <% end %>
            <%= link_to game, method: :delete, class: 'btn btn-danger btn-small', data: {confirm: t(:confirm_destroy)} do %>
              <%= icon 'trash-o' %>
            <% end %>
          </div>
        </td>
        <td>
          <% if can? :manage, game %>
            <span class='pull-right lock <%= game.locked? ? 'hide' : 'show' %>'>
              <%= link_to [game], class: 'btn btn-small btn-info', data: {lock: true} do %>
                <%= icon 'lock' %>
                <span><%= t :lock %></span>
              <% end %>
            </span>
            <span class='pull-right unlock  <%= game.locked? ? 'show' : 'hide' %>'>
              <%= link_to [game], class: 'btn btn-small btn-warning', data: {lock: false} do %>
                <%= icon 'unlock' %>
                <span><%= t :unlock %></span>
              <% end %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @games %>

<%= link_to t(:new_model, model: Game.model_name.human), new_game_path, class: 'btn' %>
