<h1><%= t(:index_model, model: Game.model_name.human) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Game.human_attribute_name("ended_at") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.ended_at %></td>
        <td>
          <%= link_to t(:answers), game_answers_path(game), class: 'btn' %>
          <%= link_to t(:show), game, class: 'btn' %>
          <%= link_to t(:edit), edit_game_path(game), class: 'btn' %>
          <%= link_to t(:destroy), game, method: :delete, class: 'btn btn-danger', data: {confirm: t(:confirm_destroy)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:new_model, model: Game.model_name.human), new_game_path, class: 'btn' %>
