<h1><%= t(:index_model, model: Category.model_name.human) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Category.human_attribute_name("name") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <div class='btn-group pull-right'>
            <%= link_to category, class: 'btn btn-small btn-default' do %>
              <%= icon 'eye' %>
            <% end %>
            <%= link_to [:edit, category], class: 'btn btn-small btn-default' do %>
              <%= icon 'pencil' %>
            <% end %>
            <%= link_to category, method: :delete, class: 'btn btn-danger btn-small', data: {confirm: t(:confirm_destroy)} do %>
              <%= icon 'trash-empty' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories %>

<%= link_to t(:new_model, model: Category.model_name.human), new_category_path, class: 'btn btn-default' %>
