<% if current_user %>
  <a class='btn-link dropdown-toggle' href='#' data-toggle='dropdown'>
    <%= icon :user %>
    <%= current_user.email %>
    <span class='caret'></span>
  </a>
  <ul class='dropdown-menu'>
    <% if Devise.mappings[:user].registerable? %>
      <li>
        <%= link_to edit_user_registration_path do %>
          <%= icon :cog %>
          Preferences
        <% end %>
      </li>
      <li class='divider'></li>
    <% end %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= icon :off %>
        Sign out
      <% end %>
    </li>
  </ul>
<% else %>
  <%= link_to login_path, class: 'btn-link' do %>
    <%= icon :user %>
    Log in
  <% end %>
<% end %>
