<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
        <%= icon 'bars' %>
      </a>
      <%= link_to app_name, root_path, class: "brand"%>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <li><%= link_to t(:home), root_path %></li>
          <li><%= link_to t(:leader_board), leader_board_path %></li>
          <% if can? :manage, User %>
            <li><%= link_to User.model_name.human(count: :many), admin_users_path %></li>
          <% end %>
          <% if can? :manage, Game %>
            <li><%= link_to Game.model_name.human(count: :many), games_path %></li>
          <% end %>
          <% if can? :manage, Category %>
            <li><%= link_to Category.model_name.human(count: :many), categories_path %></li>
          <% end %>
        </ul>
        <%= render 'layouts/nav_user' %>
      </div>
    </div>
  </div>
</div>
