!!!5
- title app_name
%html{lang: I18n.locale.to_s}
  %head
    %meta(charset="utf-8")
    %title= title.join(' - ')

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{name: "description", content: ""}

    = stylesheet_link_tag :application, media: :all
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    = render 'layouts/nav'
    .container
      .flash
        = flash_notice :notice, :success
        = flash_notice :alert,  :error
      .breadcrumbs
        = render_breadcrumbs
      .content
        = content_for?(:content) ? yield(:content) : yield
      %hr
      %footer
        %p
          &copy; 2012
